* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    background-color: darkslateblue;
    color: rgb(0, 255, 34);
    font-size: 1em;
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 50px;
    padding-right: 50px;
}

button {
    background-color: rgb(0, 255, 34);;
    box-shadow: inset;
}

/* li {
    margin: 5px;
} */

#timer {
    font-size: 1.7em;
}

#SQT {
    font-size: 2em;
    text-align: center;
}

#quizbox {
    margin-left: 10%;
    text-align: center;
    border: 3px rgb(0, 255, 34) dashed;
    width: 80%;
    padding-bottom: 25px;
}

.buttonbox {
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin: 15px;
}

#questioncontent {
    font-weight: bold;
}



.questions {
    display: grid;
}

#startbtn {
    margin: 5px;
}

.answerBtn {
    flex-direction: column;
}

.choice {
    padding:15px;
    margin: 5px 0px 0px 15px;
    gap:15px;
    color: darkslateblue;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 5px;
}