html {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    background-color: darkslateblue;
    color: rgb(0, 255, 34);
    font-size: 2em;
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 50px;
    padding-right: 50px;
}

button {
    background-color: rgb(0, 255, 34);;
    box-shadow: inset;
}

#SQT {
    text-align: center;
}

#quizbox {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 3%;
    text-align: center;
    border: 3px rgb(0, 255, 34) dotted;
    width: 70%;
}

.buttonBox {
    text-align: start;
}

#answerList {
    
    text-align: start;
    list-style: lower-alpha;
}

.questions {
    flex-direction: column;
}

.answerBtn {
    flex-direction: column;
}